<div class="container-fluid">
    <h1>Register</h1>

    <label for="register-username">Username</label>
    <input type="text"
           id="register-username"
           class="form-control"
           placeholder="username"/>

    <label for="register-password">Password</label>
    <input type="password"
           id="register-password"
           class="form-control"
           placeholder="password"/>

    <label for="register-verify-pwd">Verify Password</label>
    <input type="password"
           id="register-verify-pwd"
           class="form-control"
           placeholder="verify password"/>

    <a class="btn btn-primary btn-block"
       href="#!/user/:uid">Register</a>

    <a class="btn btn-danger btn-block"
       href="#!/login">Cancel</a>
</div>