<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <p class="navbar-text pull-left">

            <a href="#!/admin"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            </p>
            <a class="navbar-brand">
                <span class="glyphicon glyphicon-film"></span>
                MovieTag
            </a>
        </div>
</nav>

<div class="container-fluid">
    <div ng-show="vm.alert" class="alert alert-info">
        {{vm.alert}}
    </div>

    <form name="adminpage" ng-class="{submitted:adminpage.submitted}">
            <div class="form-group" ng-class="{ 'has-error' : adminpage.submitted && adminpage.username.$error.required}">
                <label for="register-username">Username</label>
                <input ng-model="vm.user.username"
                       type="text"
                       name="username"
                       id="register-username"
                       class="form-control"
                       placeholder="username" required/>
                <p class="help-block" ng-show="adminpage.submitted && adminpage.username.$error.required ">Username is required</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : adminpage.submitted && adminpage.password.$error.required}">
                <label for="register-password">Password</label>
                <input ng-model="vm.user.password"
                       type="password"
                       id="register-password"
                       class="form-control"
                       name="password"
                       placeholder="password" required/>
                <p class="help-block" ng-show="adminpage.submitted && adminpage.password.$error.required ">Password is required</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : adminpage.submitted && adminpage.verifypwd.$error.required || adminpage.verifypwd.$error.pattern}">
                <label for="register-verify-pwd">Verify Password</label>
                <input ng-model="password2"
                       type="password"
                       id="register-verify-pwd"
                       class="form-control"
                       name="verifypwd"
                       ng-pattern="vm.user.password"
                       placeholder="verify password" required/>
                <p class="help-block" ng-show="adminpage.submitted && adminpage.verifypwd.$error.pattern">Passwords do not match</p>
                <p class="help-block" ng-show="adminpage.submitted && adminpage.verifypwd.$error.required ">Verify Password is required</p>
            </div>

        <div class="form-group">
            <label for="profile-email">Email Address</label>
            <input ng-model="vm.user.email"
                   type="email"
                   class="form-control"
                   id="profile-email"
                   placeholder="email address">
        </div>

        <div class="form-group">
            <label for="profile-phone">Phone Number</label>
            <input ng-model="vm.user.phone"
                   type="text"
                   class="form-control"
                   id="profile-phone"
                   placeholder="phone number">
        </div>

        <div class="form-group">
            <label for="profile-first-name">First Name</label>
            <input ng-model="vm.user.firstName"
                   type="text"
                   class="form-control"
                   id="profile-first-name"
                   placeholder="first name">
        </div>

        <div class="form-group">
            <label for="profile-last-name">Last Name</label>
            <input ng-model="vm.user.lastName"
                   type="text"
                   class="form-control"
                   id="profile-last-name"
                   placeholder="last name">
        </div>
    </form>


    <a class="btn btn-success btn-block"
       ng-click="vm.createUser(vm.user, password2)">Create User</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div ng-if="vm.uid" class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile"
               class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>