<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <p class="navbar-text pull-left profile">
                <a ng-if="vm.mid && !vm.fromProfile" href="#!/profile/search/m/{{vm.mid}}/profiles"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a ng-if="!vm.mid && !vm.fromProfile" href="#!/profile/community"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a ng-if="vm.fromProfile" href="#!/profile"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>

            </p>
            <a class="navbar-brand">
                {{vm.user.username}}'s profile
            </a>

            <p ng-if="!vm.followed" class="navbar-text pull-right">
                <a ng-click="vm.follow()">
                    Follow <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </p>

            <p ng-if="vm.followed" class="navbar-text pull-right">
                <a ng-click="vm.follow()">
                    Unfollow <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </a>
            </p>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="vm.alert" class="alert alert-info">
        {{vm.alert}}
    </div>


    <form>
        <div class="form-group">
            <label for="profile-username">Username</label>
            <input ng-model="vm.user.username"
                   type="text"
                   class="form-control"
                   id="profile-username"
                   readonly value="alice">
        </div>

        <div class="form-group">
            <label for="profile-email">Email Address</label>
            <input ng-model="vm.user.email"
                   type="email"
                   class="form-control"
                   id="profile-email"
                   placeholder="email address"
                   readonly value="alice@wonderland.com">
        </div>

        <div class="form-group">
            <label for="profile-first-name">First Name</label>
            <input ng-model="vm.user.firstName"
                   type="text"
                   class="form-control"
                   id="profile-first-name"
                   placeholder="first name"
                   readonly value="Alice">
        </div>

        <div class="form-group">
            <label for="profile-last-name">Last Name</label>
            <input ng-model="vm.user.lastName"
                   type="text"
                   class="form-control"
                   id="profile-last-name"
                   placeholder="last name"
                   readonly value="Wonderland">
        </div>
    </form>

    <div class = "collapselist" data-toggle="collapse" data-target="#list">List <i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
    <div id="list" class="collapse">
        <div class="collapseSubList" data-toggle="collapse" data-target="#following">Following<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="following" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="follow in vm.list[0].following"
                        class="list-group-item">
                            {{follow.username}}
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#follower">Followers<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="follower" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="follow in vm.list[0].followers"
                        class="list-group-item">
                            {{follow.username}}
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#toWatch">Need To Watch Movie BucketList<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="toWatch" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="movie in vm.list[0].toWatch"
                        class="list-group-item">
                        <a href="#!/profile/search/m/{{movie.id}}/true">
                            {{movie.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#seen">Seen Movie List<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="seen" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="movie in vm.list[0].alreadyWatched"
                        class="list-group-item">
                            {{movie.title}}
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#rated">Movies Rated<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="rated" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="movie in vm.list[0].ratedMovies"
                        class="list-group-item">
                            {{movie.title}} : {{movie.rate}}/5
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a href="#!/profile"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
    </div>
</nav>
