<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <p class="navbar-text pull-left">
                <a ng-if="vm.mid" href="#!/profile/search/m/{{vm.mid}}"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>

                <a ng-if="!vm.mid" href="#!/profile"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a ng-if="vm.mid" class="navbar-brand">
                User Who Seen The Movie
            </a>
            <a ng-if="!vm.mid" class="navbar-brand">
                All Users
            </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <ul class="list-group">
            <li ng-repeat="user in vm.users"
                class="list-group-item">
                <a ng-if="vm.mid" href="#!/profile/search/m/{{vm.mid}}/profiles/{{user.username}}">
                    {{user.username}}
                </a>
                <a ng-if="!vm.mid" href="#!/profile/community/{{user.username}}">
                    {{user.username}}
                </a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a href="#!/profile"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
    </div>
</nav>