<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                MovieTag
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="poc-home">
        <a href="#!/poc/search">
            Search Movie Details
        </a>
    </div>
    <div class="poc-home">
        <a href="#!/poc/theater">
            Search Theater Showtimes
        </a>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom ">
</nav>