<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-if="!vm.uid" href="#!/search/{{vm.search}}"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>

                <a ng-if="vm.uid" href="#!/profile/search"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand">
                <span class="glyphicon glyphicon-film"></span>
                MovieTag
            </a>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="vm.alert" class="alert alert-info">
        {{vm.alert}}
    </div>

    <h1 class="detail">
        <i ng-if="vm.bookmarked"
            ng-click="vm.bookmark()"
            class="fa fa-bookmark"
            aria-hidden="true"></i>

        <i ng-if="!vm.bookmarked"
           ng-click="vm.bookmark()"
           class="fa fa-bookmark-o"
           aria-hidden="true"></i>
        {{vm.detail.title}}


    </h1>
    <p class="detail"> <b>Release Date:</b> {{vm.detail.release_date}} |
        <b>Run Time:</b> {{vm.detail.runtime}} minutes |
        <b>Status:</b> {{vm.detail.status}} |
        <span ng-repeat="genre in vm.detail.genres"> {{genre.name}} |</span>
    </p>

    <hr class="style1">

    <div class="row"><div class="container-fluid">
        <img class="col-sm-6 hidden-xs"
             ng-src="https://image.tmdb.org/t/p/original{{vm.detail.poster_path}}"/>
        <h3 class="detail"> {{vm.detail.tagline}} </h3>
        <h4> {{vm.detail.overview}} </h4>

        <div class="stars">
            <h5>Average User Rating: {{vm.rating}}</h5>
            <h5>Your Rating: {{vm.yourRating}}/5</h5>
            <form>
                <input ng-checked ="(vm.yourRating == 5)" ng-click="vm.rate('5')" class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input ng-checked ="(vm.yourRating == 4)" ng-click="vm.rate('4')" class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input ng-checked ="(vm.yourRating == 3)" ng-click="vm.rate('3')" class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input ng-checked ="(vm.yourRating == 2)" ng-click="vm.rate('2')" class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input ng-checked ="(vm.yourRating == 1)" ng-click="vm.rate('1')" class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
            </form>
        </div>

        <div class="watchlist">
            <h5 ng-if="!vm.watched">Add To Seen List:
        <i ng-click="vm.watch()"
           class="fa fa-eye fa-2x"
           aria-hidden="true"></i>
            </h5>

            <h5 ng-if="vm.watched">Remove From Seen List:
        <i ng-click="vm.watch()"
           class="fa fa-eye-slash fa-2x"
           aria-hidden="true"></i>
            </h5>
        </div>

        <h5>Find Users Who Seen The Movie:
        <i ng-click="vm.users()" class="fa fa-user fa-2x" aria-hidden="true"></i>
        </h5>
    </div>
    </div>

    <hr class="style1">
    <div class="cast">
        <ul class="list-group">
            <h3 class="detail">Main Cast</h3>

            <div class="row">
                <li ng-repeat="cast in vm.cast"
                    class="list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <p><b>{{cast.name}}</b>
                    <p> as {{cast.character}}</p>
                        <img class="detailImage"
                             ng-src="https://image.tmdb.org/t/p/original{{cast.profile_path}}"/>
                </li>
            </div>

            <hr class="style1">


            <h3 class="detail">Main Crew</h3>
            <div class="row">
                <li ng-repeat="crew in vm.crew"
                    class="list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <p><b>{{crew.job}}:</b>
                    <p>{{crew.name}}</p>
                        <img class="detailImage"
                            ng-src="https://image.tmdb.org/t/p/original{{crew.profile_path}}"/>

                </li>
            </div>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div ng-if="vm.uid" class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/profile"
               class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
