<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/profile"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

            <a class="navbar-brand">
                <span class="glyphicon glyphicon-film"></span>
                MovieTag
            </a>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="vm.inform" class="alert alert-info">
        {{vm.inform}}
    </div>

    <h3>Find Showtimes in a Theater Near You</h3>
    <div class="input-group">
        <input ng-model="searchTheater"
               type="text"
               class="form-control"
               placeholder="Search ZipCode">
        <span class="input-group-btn">
            <a ng-click="vm.searchTheater(searchTheater)"
               class="btn btn-default"
               type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>


        <ul class="list-group">
            <div class="row">
            <li ng-repeat="theater in vm.theaters"
                class="list-group-item col-sm-6">
                <a href="#!/profile/search/t/{{theater.theatreId}}">
                    <h4>{{theater.name}}</h4>
                </a>
                <p>Location: {{theater.location.address.street}}, {{theater.location.address.city}}</p>
                <p>Telephone: {{theater.location.telephone}}</p>
                <p>Distance: {{theater.location.distance}}</p>
            </li>
            </div>
        </ul>


    <hr class="style2">
    <div ng-show="vm.inform2" class="alert alert-info">
        {{vm.inform2}}
    </div>
    <h3>Search Movies</h3>
    <div class="input-group">
        <input ng-model="searchMovie"
               type="text"
               class="form-control"
               placeholder="Search Movie">
        <span class="input-group-btn">
            <a ng-click="vm.searchMovie(searchMovie)"
               class="btn btn-default"
               type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <ul class="list-group">
        <div class="row">
            <li ng-repeat="movie in vm.movies"
                class="list-group-item col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="#!/profile/search/m/{{movie.id}}">
                    <img class="movieImage"
                         ng-src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"/>
                </a>
            </li>
        </div>
    </ul>


</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a href="#!/profile"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
    </div>
</nav>
