<nav class="navbar navbar-default navbar-fixed-top">
    <div class ="container-fluid">

            <a class="navbar-brand">
                <span class="glyphicon glyphicon-film"></span>
                MovieTag
            </a>

        <p class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="vm.profileUpdate(vm.user)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
    </div>



</nav>



<div class="container-fluid">
    <div ng-show="vm.message" class="alert alert-info">
        {{vm.message}}
    </div>

    <form>
        <div class="form-group">
            <label for="profile-username">Username</label>
            <input ng-model="vm.user.username"
                   type="text"
                   class="form-control"
                   id="profile-username"
                   readonly value="alice">
        </div>

        <div class="form-group">
            <label for="profile-email">Email Address</label>
            <input ng-model="vm.user.email"
                   type="email"
                   class="form-control"
                   id="profile-email"
                   placeholder="email address"
                   value="alice@wonderland.com">
        </div>

        <div class="form-group">
            <label for="profile-phone">Phone Number</label>
            <input ng-model="vm.user.phone"
                   type="text"
                   class="form-control"
                   id="profile-phone"
                   placeholder="phone number"
                   value="(123)4567890">
        </div>

        <div class="form-group">
            <label for="profile-first-name">First Name</label>
            <input ng-model="vm.user.firstName"
                   type="text"
                   class="form-control"
                   id="profile-first-name"
                   placeholder="first name"
                   value="Alice">
        </div>

        <div class="form-group">
            <label for="profile-last-name">Last Name</label>
            <input ng-model="vm.user.lastName"
                   type="text"
                   class="form-control"
                   id="profile-last-name"
                   placeholder="last name"
                   value="Wonderland">
        </div>
    </form>

    <div class = "collapselist" data-toggle="collapse" data-target="#list">List <i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
    <div id="list" class="collapse">
        <div class="collapseSubList" data-toggle="collapse" data-target="#following">Following<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="following" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="follow in vm.list[0].following"
                        class="list-group-item">
                        <a href="#!/profile/community/{{follow.username}}/true">
                            {{follow.username}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#follower">Followers<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="follower" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="follow in vm.list[0].followers"
                        class="list-group-item">
                        <a href="#!/profile/community/{{follow.username}}/t/t">
                            {{follow.username}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#toWatch">Need To Watch Movie BucketList<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="toWatch" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="movie in vm.list[0].toWatch"
                        class="list-group-item">
                        <a href="#!/profile/search/m/{{movie.id}}/t/true">
                            {{movie.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#seen">Seen Movie List<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="seen" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="movie in vm.list[0].alreadyWatched"
                        class="list-group-item">
                        <a href="#!/profile/search/m/{{movie.id}}/t/true">
                            {{movie.title}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="collapseSubList" data-toggle="collapse" data-target="#rated">Movies Rated<i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
        <div id="rated" class="collapse">
            <div class="row lists">
                <ul class="list-group">
                    <li ng-repeat="movie in vm.list[0].ratedMovies"
                        class="list-group-item">
                        <a href="#!/profile/search/m/{{movie.id}}/true">
                            {{movie.title}} : {{movie.rate}}/5
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <a ng-if="vm.user.roles.indexOf('admin') > -1" class="btn btn-primary btn-block"
       href="#!/admin">Admin Page</a>

    <a class="btn btn-info btn-block"
       href="#!/profile/search">Search Movie/Theater</a>

    <a class="btn btn-success btn-block"
       href="#!/profile/community">Search Community</a>

    <a class="btn btn-danger btn-block"
       ng-click="vm.logout()">Logout</a>

    <a class="btn btn-warning btn-block"
       ng-click="vm.profileDelete(vm.user)">Delete Account</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
