<nav class="navbar navbar-default navbar-fixed-top">
</nav>

<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="vm.alert" class="alert alert-danger">
        {{vm.alert}}
    </div>

    <form name="profilepage" ng-class="{submitted:profilepage.submitted}">

        <div class="form-group" ng-class="{ 'has-error' : profilepage.submitted && profilepage.username.$error.required}">
            <label for="register-username">Username</label>
            <input ng-model="vm.user.username"
                   type="text"
                   name="username"
                   id="register-username"
                   class="form-control"
                   placeholder="username" required/>
            <p class="help-block" ng-show="profilepage.submitted && profilepage.username.$error.required ">Username is required</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : profilepage.submitted && profilepage.password.$error.required}">
            <label for="register-password">Password</label>
            <input ng-model="vm.user.password"
                   type="password"
                   id="register-password"
                   class="form-control"
                   name="password"
                   placeholder="password" required/>
            <p class="help-block" ng-show="profilepage.submitted && profilepage.password.$error.required ">Password is required</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : profilepage.submitted && profilepage.verifypwd.$error.required || profilepage.verifypwd.$error.pattern}">
            <label for="register-verify-pwd">Verify Password</label>
            <input ng-model="password2"
                   type="password"
                   id="register-verify-pwd"
                   class="form-control"
                   name="verifypwd"
                   ng-pattern="vm.user.password"
                   placeholder="verify password" required/>
            <p class="help-block" ng-show="profilepage.submitted && profilepage.verifypwd.$error.pattern">Passwords do not match</p>
            <p class="help-block" ng-show="profilepage.submitted && profilepage.verifypwd.$error.required ">Verify Password is required</p>
        </div>

        <a class="btn btn-primary btn-block"
           ng-click="vm.register(vm.user, password2)">Register</a>

        <a class="btn btn-danger btn-block"
           href="#!/login">Cancel</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
