<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand">
                Widget Edit
            </a>

            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="widget-image-name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           type="text"
           placeholder="name"
           id="widget-image-name"/>

    <label for="widget-image-text">Text</label>
    <input ng-model="model.widget.text"
           class="form-control"
           type="text"
           placeholder="text"
           id="widget-image-text"/>

    <label for="widget-image-url">URL</label>
    <input ng-model="model.widget.url"
           class="form-control"
           type="url"
           placeholder="URL"
           id="widget-image-url"/>

    <label for="widget-image-width">Width</label>
    <input ng-model="model.widget.width"
           type="text"
           placeholder="100%"
           class="form-control"
           id="widget-image-width"/>

    <label for="widget-image-file">Upload</label>
    <input id="widget-image-file"
           type="file"
           class="form-control"/>

    <a href=""
       class="btn btn-block btn-primary">Upload Image</a>

    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom nav2">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.uid}}"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>