<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>

            <a class="navbar-brand">
                Widget Edit
            </a>

            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

        <div class="form-group"
             ng-class="{ 'has-error' : widgetpage.submitted && widgetpage.name.$error.required}">
        <label for="widget-image-name">Name</label>
    <input ng-model="model.widget.name"
           class="form-control"
           type="text"
           placeholder="name"
           id="widget-image-name"
           name="name" required/>
            <p class="help-block" ng-show="widgetpage.submitted && widgetpage.name.$error.required">Name is
                required</p>
        </div>

    <label for="widget-image-text">Text</label>
    <input ng-model="model.widget.text"
           class="form-control"
           type="text"
           placeholder="text"
           id="widget-image-text"/>

    <label for="widget-image-url">URL</label>
    <input ng-model="model.widget.url"
           class="form-control"
           type="url"
           placeholder="URL"
           id="widget-image-url"/>

    <label for="widget-image-width">Width</label>
    <input ng-model="model.widget.width"
           type="text"
           placeholder="100%"
           class="form-control"
           id="widget-image-width"/>

    <label>Upload</label>

    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input name="myFile" type="file" class="form-control"/>
        <input name="width" value="{{model.widget.width}}" style="display: none"/>
        <input name="userId" value="{{model.uid}}" style="display: none"/>
        <input name="websiteId" value="{{model.wid}}" style="display: none"/>
        <input name="pageId" value="{{model.pid}}" style="display: none"/>
        <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.widget._id}}/search"
       class="btn btn-block btn-info">Search Image</a>

    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom nav2">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/profile"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>