<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-4 hidden-xs">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/:uid/website/:wid/page"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </p>

                    <a class="navbar-brand">
                        Pages
                    </a>

                    <p class="navbar-text pull-right">
                        <a href="#!/user/:uid/website/:wid/page/new"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </p>
                </div>

                <div class="col-sm-6">
                    <div class="visible-xs">
                        <p class="navbar-text pull-left">
                            <a href="#!/user/:uid/website/:wid/page"
                               class="navbar-link">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </p>
                    </div>

                    <a class="navbar-brand">
                        Edit Page
                    </a>
                </div>

                <p class="navbar-text pull-right">
                    <a href="#!/user/:uid/website/:wid/page"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
                        Blog Post
                    </a>
                    <a href="#!/user/:uid/website/:wid/page/:pid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
                        Blogs
                    </a>
                    <a href="#!/user/:uid/website/:wid/page/:pid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
                        Home
                    </a>
                    <a href="#!/user/:uid/website/:wid/page/:pid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
                        About
                    </a>
                    <a href="#!/user/:uid/website/:wid/page/:pid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
                        Contact Us
                    </a>
                    <a href="#!/user/:uid/website/:wid/page/:pid">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-8">
            <label for="page-edit-name">Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="page name"
                   id="page-edit-name"
                   value="Blog Post"/>

            <label for="page-edit-title">Title</label>
            <input id="page-edit-title"
                   type="text"
                   placeholder="page title"
                   class="form-control"
                   value="Some Title"/>

            <a href="#!/user/:uid/website/:wid/page" class="btn btn-block btn-danger">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom nav2">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/user/:uid"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>